extends layout

block content
  -results = results || { 'errors' : null, 'hits' : null} 

  if results.errors
    ul.my-errors
      for error in results.errors
        li= error.msg
  header
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='#') Percipio Search Example
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      div.collapse.navbar-collapse(id='navbarCollapse')
        .navbar-nav.mr-auto
        form.form-inline.mt-2.mt-md-0(id='searchForm')
          input.form-control.mr-sm-2(type='text', placeholder='Search', id='searchPhrase', name='searchPhrase')
          select.custom-select.mr-sm-2(id='searchModality', name='searchModality')
            option(selected='' value='') All Modalities
            option(value='WATCH') Watch
            option(value='READ') Read
            option(value='LISTEN') Listen
            option(value='PRACTICE') Practice
          input.btn.btn-sm.btn-light.my-2.my-sm-0(type='submit', value='Search')  
  main(role='main')
    .container.mb-4
      .row.mt-5.d-none(id='errorDiv', role='alert')
        .col-12.px-2
          .alert.alert-danger(id='errorText')
      .row.mt-2.d-none.resultsHeader
        .col-sm-12.my-2
          .h2(id='resultsCountText')
      .row.mt-2.d-none.resultsHeader
        .col-12.my-2
          label.col-form-label(for='filter-btns') Filters
          #filter-btns.btn-group-toggle(data-toggle='buttons')
            label.btn.btn-sm.btn-outline-secondary.active
              input(type='radio', name='filteroption-all', id='filteroption-all', autocomplete='off', checked='', value='') 
              | All
            label.btn.btn-sm.btn-outline-secondary
              input.filter-direction-button(type='radio', name='filteroption-channel', id='filteroption-channel', autocomplete='off', value='Audiobook,Audiobook Summary')
              |  Audiobook
            label.btn.btn-sm.btn-outline-secondary
              input.filter-direction-button(type='radio', name='filteroption-channel', id='filteroption-channel', autocomplete='off', value='Book,Book Review,Book Summary')
              |  Book
            label.btn.btn-sm.btn-outline-secondary
              input.filter-direction-button(type='radio', name='filteroption-channel', id='filteroption-channel', autocomplete='off', value='Channel')
              |  Channel
            label.btn.btn-sm.btn-outline-secondary
              input.filter-direction-button(type='radio', name='filteroption-course', id='filteroption-course', autocomplete='off', value='Course')
              |  Course
            label.btn.btn-sm.btn-outline-secondary
              input.filter-direction-button(type='radio', name='filteroption-course', id='filteroption-course', autocomplete='off', value='Practice Lab')
              |  Practice Lab
            label.btn.btn-sm.btn-outline-secondary
              input.filter-direction-button(type='radio', name='filteroption-course', id='filteroption-course', autocomplete='off', value='TestPrep')
              |  TestPrep
            label.btn.btn-sm.btn-outline-secondary
              input.filter-direction-button(type='radio', name='filteroption-course', id='filteroption-course', autocomplete='off', value='Video')
              |  Video
      .row.mt-2.d-none.resultsHeader
        .col-12.my-2
          label.col-form-label(for='sort-btns') Sort
          #sort-btns.btn-group-toggle(data-toggle='buttons')
            label.btn.btn-sm.btn-outline-secondary.active
              input(type='radio', name='sortoption-default', id='default', autocomplete='off', checked='', value='') 
              | Default
            label.btn.btn-sm.btn-outline-secondary
              input.sort-direction-button(type='radio', name='sortoption-title', id='title', autocomplete='off', value='title')
              |  Title 
              i.fas.sort-icon
            label.btn.btn-sm.btn-outline-secondary
              input.sort-direction-button(type='radio', name='sortoption-type', id='type', autocomplete='off', value='type')
              |  Type 
              i.fas.sort-icon
            label.btn.btn-sm.btn-outline-secondary
              input.sort-direction-button(type='radio', name='sortoption-durationminutes', id='durationminutes', autocomplete='off', value='durationminutes')
              |  Duration 
              i.fas.sort-icon                
      .row.mt-5
        .col-12.px-2.card-deck.results-container(id='resultsRow')
      .row.mt-5.d-none(id='moreRecordsDiv')
        .col-12.px-2
          .text-center
            .btn-group
              button#moreRecords.btn.btn-sm.btn-outline-secondary.btn-lg(type='button') More ....
      .row.mt-5.d-none(id='indicator')
        .col-12.px-2
          .text-center
            .spinner-border(role='status')
              span.sr-only Loading...
      .row.mt-0
        .col-sm-12.col-md-6.col-xl-4.my-sizer-element
          div  
      
block append scripts
    script(src='/js/utils.js')
    script(src='/js/homeSearchTemplates.js')
    script(src='/js/homeSearchRequest.js')