doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css')
    link(rel='stylesheet', href='/css/styles.css')
    title= `${title}`

  body
      block content
      block scripts
        script(src='https://polyfill.io/v3/polyfill.min.js?flags=gated&features=es6%2Ces7')
        script(src='https://code.jquery.com/jquery-3.3.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.19.1/URI.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.1/shuffle.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js')
      block foot
        footer.text-muted
          .container
            p.float-right
              a(href='#') Back to top
            p
              | This is an example, but please 
              a(href='https://github.com/martinholden-skillsoft/node-percipio-federatedsearchweb', target='_blank') fork it
              |  and customize it for yourself!

